<h2>Edit user</h2>

<%= render "admin.html", changeset: @changeset,
                        action: user_path(@conn, :update, @users),
                        user: @user,
                        users: @users %>

<%= link "Back", to: user_path(@conn, :index) %>
