<div class="box">
  <h2>Show user</h2>

  <ul>

    <li>
      <strong>Username:</strong>
      <%= @user.username %>
    </li>

    <li>
      <strong>Name:</strong>
      <%= @user.name %>
    </li>

    <li>
      <strong>Permission:</strong>
      <%= if @user.permission == 1 do %>
        Admin
      <% else %>
        Member
      <% end %>
    </li>

  </ul>
</div>
<%= link "Edit", to: user_path(@conn, :edit, @user) %> |
<%= link "Back", to: user_path(@conn, :index) %>
